<div class="rac-login-container">
    <div class="rac-brand-logo"></div>
        <form [formGroup]="loginForm" class="rac-login-form rac-form-container">
            <div class="rac-login-heading">Sign In</div>
            <div class="rac-login-sub-heading">Hello! Let's get started</div>
            <div class="form-group rac-input-field-container" [class.input-error]="isInvalid('username')|| !isAuthorized">
                <input class="form-control rac-input-field" type="text" formControlName="username" placeholder="Username"
                       (keypress)="onKeyPress()" id="username" #username [appErrorFocus]="!isAuthorized"
                       [focusElement]="username"/>
                <span class="rac-input-username"></span>
                <app-common-control-error-view *ngIf="isAuthorized"
                                               [control]="loginForm.get('username')"
                                               [requiredError]="'Username can not be blank'"
                                               [lengthError]="'Username characters should between 4 and 128'">
                </app-common-control-error-view>
            </div>
            <div class="form-group rac-input-field-container" [class.input-error]="isInvalid('password') || !isAuthorized" >
                <input class="form-control rac-input-field" type="password" formControlName="password" placeholder="Password"
                       (keypress)="onKeyPress()" id="password"/>
                <span class="rac-input-password"></span>
                <app-common-control-error-view *ngIf="isAuthorized"
                                               [control]="loginForm.get('password')"
                                               [requiredError]="'Password can not be blank'"
                                               [lengthError]="'Password characters should between 8 and 40'">
                </app-common-control-error-view>
                <span *ngIf="!isAuthorized" class="errors input-error-label">Invalid username or password</span>
            </div>
            <app-action-button-strap>
                <app-action [type]="ActionType.OK"
                            [buttonType]="ActionButtonType.SUBMIT"
                            [name]="'Login'"
                            [autoResolve]="false"
                            (actionClick)="onLoginClick($event)"
                            [disable]="loginForm.invalid">
                </app-action>
            </app-action-button-strap>
        </form>
</div>
