<div class="rac-page-content">
    <app-loading-overlay *ngIf="isLoading"></app-loading-overlay>
    <app-action-bar [breadcrumb]="actionBreadcrumb">
        <ng-template #actionButtonStrap>
            <app-action-button-strap>
                <app-action [type]="ActionType.ADD" [name]="'Add New'" (actionClick)="onAddClick()"></app-action>
            </app-action-button-strap>
        </ng-template>
    </app-action-bar>
    <div class="rac-page-content-pane" (appContainerResponsive)="containerResponsive($event)" [deltaHeight]="290">
        <ng-data-table
                [id]="'rules_data_summary'"
                [title]="'Rules'"
                [contentHeight]="height"
                [limit]="30"
                [dataSource]="rulesDataSource"
                [selectOnRowClick]="true"
                [showHeader]="true"
                [showSubstituteRows]="true"
                [showColumnSelector]="true"
                [showRefreshButton]="true"
                [pageable]="true"
                [persistTableState]="false"
                [showLoadingSpinner]="true"
                (init)="onDataTableInit($event)"
        >
            <ng-data-table-column
                    [field]="'id'"
                    [title]="'ID'"
                    [filterPlaceholder]="'Filter'"
                    [sortable]="true"
                    [filterable]="true"
                    [showInColumnSelector]="false"
                    [width]="100"
            >
            </ng-data-table-column>
            <ng-data-table-column
                    [field]="'name'"
                    [title]="'Rule Name'"
                    [filterPlaceholder]="'Filter'"
                    [filterable]="true">
            </ng-data-table-column>
            <ng-data-table-column
                    [field]="'type'"
                    [title]="'Type'"
                    [width]="180"
                    [filterable]="true"
                    [showDropdownFilter]="true"
                    [dropDownFilterShowOptionSelectCheckbox]="true">
            </ng-data-table-column>
            <ng-data-table-column [field]="'matchingConditionJson'" [title]="'If(matching) condition'"
                                  [width]="280">
                <ng-template #ngDataTableCell let-row="row" let-spanIndex="spanIndex"
                             let-rowSpan="rowSpan">
                    <td *ngIf="spanIndex === 0" [attr.rowspan]="rowSpan">
                        <app-expression-view [expressionData]="row.item.matchingConditionJson">
                        </app-expression-view>
                    </td>
                </ng-template>
            </ng-data-table-column>
            <ng-data-table-column [field]="'actionConditionJson'" [title]="'Then(action) condition'"
                                  [width]="280">
                <ng-template #ngDataTableCell let-row="row" let-spanIndex="spanIndex"
                             let-rowSpan="rowSpan">
                    <td *ngIf="spanIndex === 0" [attr.rowspan]="rowSpan">
                        <app-expression-view [expressionData]="row.item.actionConditionJson">
                        </app-expression-view>
                    </td>
                </ng-template>
            </ng-data-table-column>
            <ng-data-table-column
                    [title]="'Is Global'"
                    [field]="'isGlobal'"
                    [width]="130"
                    [filterable]="true"
                    [showDropdownFilter]="true"
                    [filterFieldMapper]="onIsGlobalFilterMapper"
                    [dropDownFilterShowOptionSelectCheckbox]="true">
            >
                <ng-template #ngDataTableCell let-row="row">
                    <td>
                        {{ row.item.isGlobal ? 'Yes' : 'No' }}
                    </td>
                </ng-template>
            </ng-data-table-column>
            <ng-data-table-column [title]="'Action'" [showInColumnSelector]="false" [width]="80">
                <ng-template #ngDataTableCell let-row="row" let-rowSpan="rowSpan" let-spanIndex="spanIndex">
                    <td [attr.rowspan]="rowSpan" *ngIf="!spanIndex" (click)="$event.stopPropagation()">
                        <app-table-actions-column>
                            <app-table-action
                                    [type]="ColumnActionType.EDIT"
                                    [tooltip]="'Edit Rule'"
                                    (actionClick)="onEditClick(row.item.id)"
                            >
                            </app-table-action>
                            <app-table-action
                                    [type]="ColumnActionType.DELETE"
                                    [tooltip]="'Delete Rule'"
                                    (actionClick)="openDeleteConfirmModal(row.item.id, row.item.name)"
                            >
                            </app-table-action>
                        </app-table-actions-column>
                    </td>
                </ng-template>
            </ng-data-table-column>
        </ng-data-table>
    </div>
</div>
