<ng-container [ngSwitch]="viewType">
    <ng-container *ngSwitchCase="AdditionalDataViewType.INLINE">
        <ng-container *ngFor="let value of data.value">
            <div class="rac-selected-condition">
                <span class="rac-selected-condition-label">{{ data.type }} </span>
                <app-math-operator-detail-view [operator]="data.operator ? 'eqic' : 'eq'"
                                               [hasMultipleValues]="false">
                </app-math-operator-detail-view>
                <span class="rac-selected-condition-value">{{ value?.name || value }} </span>
                <span [class.equal-ignore-case]="getOperatorValue(data.operator) === 'ignore case in values'">
                    {{ getOperatorValue(data.operator) }}
                </span>
                <ng-container [ngTemplateOutlet]="actionTemplate"
                              [ngTemplateOutletContext]="{ value: value }"></ng-container>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault>
        <span class="rac-selected-condition-label"> {{ data.type}}{{data.value?.length > 1 ? '(s)' : ''}} </span>
        <app-math-operator-detail-view [operator]="data.operator ? 'eqic' : 'eq'"
                                       [hasMultipleValues]="data.value?.length > 1">
        </app-math-operator-detail-view>
        <ng-container *ngFor="let subItem of data.value; let i = index">
            <span class="rac-selected-condition-value"> {{ subItem?.name || subItem }} </span>
            <ng-container *ngIf="data.value.length > i + 1">,</ng-container>
        </ng-container>
        <span [class.equal-ignore-case]="getOperatorValue(data.operator) === 'ignore case in values'">
                    {{ getOperatorValue(data.operator) }}
        </span>
        <ng-container [ngTemplateOutlet]="actionTemplate" [ngTemplateOutletContext]="{ value: value }"></ng-container>
    </ng-container>
</ng-container>
