<div class="rac-conditions">
    <div class="rac-condition-item" [class.custom]="!customFormGroup.get('key').value">
        <form class="rac-condition-custom-item" [formGroup]="customFormGroup" novalidate>
            <div class="rac-condition-custom">
                <div class="form-group" [class.input-error]="isInvalid('key')">
                    <label
                    >Key
                        <span class="rac-max-length">Maximum character length is 200</span>
                        <input [id]="'custom-keys-options-' + ruleGeneratorType"
                               [typeahead]="keys"
                               [requiredField]="true"
                               [typeaheadOptionsLimit]="10"
                               [typeaheadMinLength]="0"
                               [typeaheadScrollable]="true"
                               [typeaheadOptionsInScrollableView]="10"
                               [(ngModel)]="selectedKey"
                               typeaheadOptionField="name"
                               formControlName="key"
                               placeholder="Select Key"
                               class="form-control"
                               autocomplete="off"
                               maxlength="200"
                               (typeaheadOnSelect)="onKeySelect()"
                               #keyInput>
                    </label>
                    <app-common-control-error-view
                            [control]="customFormGroup.get('key')"
                            [whitespaceError]="'Key is required'"
                    >
                    </app-common-control-error-view>
                </div>
            </div>
            <div class="rac-condition-custom" [hidden]="!customFormGroup.get('key').value">
                <div class="form-group">
                    <label
                    >Operator
                        <ng-dropdown
                                [id]="'custom-types-options-' + ruleGeneratorType"
                                [options]="operators"
                                [selectTrackBy]="'type'"
                                [displayTrackBy]="'name'"
                                [closeMenuOnSelect]="true"
                                [menuWidth]="250"
                                [menuHeight]="180"
                                [selectMode]="dropdownSelectMode"
                                [relativeParentElement]="parentElement"
                                [formControlName]="'operator'"
                        >
                        </ng-dropdown>
                    </label>
                </div>
            </div>
            <div class="rac-condition-custom" [hidden]="!customFormGroup.get('key').value">
                <div class="form-group" [class.input-error]="isInvalid('values')">
                    <label
                    >Value
                        <span class="rac-max-length">Maximum character length is 200</span>
                        <input [id]="'custom-value-options-' + ruleGeneratorType"
                               [type]="valueInputType"
                               [typeahead]="values"
                               [requiredField]="true"
                               [typeaheadOptionsLimit]="10"
                               [typeaheadMinLength]="0"
                               [typeaheadScrollable]="true"
                               [typeaheadOptionsInScrollableView]="10"
                               [appTwoDigitDecimal]="isNumericKey()"
                               typeaheadOptionField="name"
                               formControlName="values"
                               placeholder="Select Value"
                               autocomplete="off"
                               maxlength="200"
                               min="0"
                               class="form-control">
                    </label>
                    <app-common-control-error-view
                            [control]="customFormGroup.get('values')"
                            [whitespaceError]="'Value is missing or invalid'"
                    >
                    </app-common-control-error-view>
                </div>
            </div>
        </form>
    </div>

    <div class="rac-condition-button">
        <app-action-button-strap>
            <app-action [type]="ActionType.APPLY" [name]=""
                        [disable]="isDisabled('values')"
                        (actionClick)="onApply()">
            </app-action>
        </app-action-button-strap>
    </div>
</div>
<app-rules-tab-content-inline-detail-view [formArrayData]="formDataArray.value"
                                          (onRemoved)="onRemove($event)"
                                          [displayType]="RuleTabInlineDataGeneratorType.CUSTOM">
</app-rules-tab-content-inline-detail-view>

