<div class="rac-page-content add-algorithm" #algorithmSelectorFormParent>
    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="algorithmsFormGroup">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group" [class.input-error]="isInvalid('algorithms')">
                            <label
                            >Select Algorithm
                                <ng-dropdown
                                    [id]="'algorithm-dropdown-data'"
                                    [selectTrackBy]="'id'"
                                    [disabledTrackBy]="'disabled'"
                                    [displayTrackBy]="'mappedAlgorithmName'"
                                    [formControlName]="'selectedAlgorithm'"
                                    [relativeParentElement]="algorithmSelectorFormParent"
                                    [options]="algorithmDropdownData"
                                    [menuWidth]="isPopupView ? 300 : 390"
                                    [selectMode]="dropdownSelectMode"
                                    [filterable]="true"
                                    [closeMenuOnSelect]="true"
                                    (selectChange)="onAlgorithmChange($event)"
                                >
                                </ng-dropdown>
                            </label>
                            <div class="errors input-error-label" [hidden]="!isInvalid('algorithms')">
                                <span>Algorithm is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="button-container d-flex">
                            <app-action-button-strap>
                                <app-action
                                    [hidden]="!algorithmsFormGroup.get('selectedAlgorithm').value"
                                    [type]="ActionType.ADD"
                                    [name]="'ADD ALGORITHM TO LIST'"
                                    [autoResolve]="true"
                                    (actionClick)="onAlgorithmAdd()">
                                </app-action>
                            </app-action-button-strap>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group" *ngIf="algorithmsFormGroup.get('description').value">
                            <label
                            >Algorithm Description
                                <textarea rows="1" class="form-control algorithm-text display-text"  value="{{ algorithmsFormGroup.get('description').value || '-' }}"></textarea>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="rac-form-container pt-0">
                    <ng-data-table
                            [id]="'algorithm-selector'"
                            [title]="'Algorithms'"
                            [items]="algorithmsFormGroup.get('algorithms').value"
                            [selectTrackBy]="'algorithmID'"
                            [contentHeight]="250"
                    >
                        <ng-data-table-column [field]="'id'" [title]="'ID'" [sortable]="true" [width]="100"></ng-data-table-column>
                        <ng-data-table-column [title]="'Algorithm Name'" [field]="'name'"></ng-data-table-column>
                        <ng-data-table-column [title]="'Display Text'">
                            <ng-template #ngDataTableCell let-row="row">
                                <td>
                                    {{renderDisplayText(row.item)}}
                                </td>
                            </ng-template>
                        </ng-data-table-column>
                        <ng-data-table-column [title]="'Action'" [width]="140">
                            <ng-template let-row="row" #ngDataTableCell>
                                <td>
                                    <app-table-actions-column class="rac-table-action-column">
                                        <app-table-action class="rac-table-action"
                                                [type]="ColumnActionType.MOVE_UP"
                                                [tooltip]="'Move Up'"
                                                [disable]="isMoveUpButtonDisabled(row)"
                                                (actionClick)="onAlgorithmOrderChange(row.index - 1, false)"
                                        >
                                        </app-table-action>
                                        <app-table-action class="rac-table-action"
                                                [type]="ColumnActionType.MOVE_DOWN"
                                                [tooltip]="'Move Down'"
                                                [disable]="isMoveDownButtonDisabled(row)"
                                                (actionClick)="onAlgorithmOrderChange(row.index - 1, true)"
                                        >
                                        </app-table-action>
                                        <app-table-action class="rac-table-action"
                                                [type]="ColumnActionType.EDIT"
                                                [tooltip]="'Edit Display Text'"
                                                (actionClick)="onEditDisplayText(row)"
                                        >
                                        </app-table-action>
                                        <app-table-action class="rac-table-action"
                                                [type]="ColumnActionType.DELETE"
                                                [tooltip]="'Delete Algorithm'"
                                                (actionClick)="onAlgorithmDelete(row)"
                                        >
                                        </app-table-action>
                                    </app-table-actions-column>
                                </td>
                            </ng-template>
                        </ng-data-table-column>
                        <ng-template #ngDataTableNoRecords>
                            <div class="ng-data-table-no-records-message">
                                <h1>No algorithm(s) have been added</h1>
                                <h2>Please select algorithm(s).</h2>
                            </div>
                        </ng-template>
                    </ng-data-table>
                </div>
            </form>
        </div>
    </div>
</div>
