@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';

.price-content-wrapper {
  @media (max-width: 991px) {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1rem;
  }
}

.price-container {
  align-items: baseline;
  padding-bottom: .5rem;

  .price-container-label-lg {
    @include font-size(.8, 2);
    font-weight: 600;
    min-width: 12rem;
    padding-right: 1rem;
  }

  .price-container-label {
    @include font-size(.8, 2);
    font-weight: 600;
    min-width: 7rem;
    padding-right: 1rem;
  }

  .form-check-label {
    padding: .5rem 1rem 0 0;
    width: 8rem;
  }

  .form-group {
    padding-right: 1rem;

    .ng-dropdown-toggle {
      width: 8rem;
    }

    .form-control {
      -webkit-appearance: none;
      border-radius: .2rem;
      height: 34px;
      min-width: 5.5rem;
      padding: .3rem .75rem;
    }
  }

  .price-operator {
    margin-right: 1rem;

    .form-group {
      .form-control {
        min-width: 3rem;
      }
    }
  }
}

app-search-dropdown {
  flex-grow: 2;
}
