@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';

.action-button {
  align-items: center;
  background: $primary-button-background-color;
  border: .05rem solid $primary-button-border-color;
  border-radius: .15rem;
  box-shadow: $primary-button-box-shadow;
  cursor: pointer;
  display: flex;
  margin-right: .5rem;
  padding: 0 .5rem;
  transform: scale(.95);
  transition: .2s background ease, .2s border-color ease, .2s box-shadow ease, .2s transform ease;

  i {
    @include font-size(1.1, 1.5);
    color: $primary-button-icon-color;

  }

  .button-container-text {
    @include font-size(.8, 1.6);
    color: $primary-button-text-color;
    font-weight: 500;
    padding-left: .5rem;
    text-transform: uppercase;

    &:empty {
      padding: 0;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: .5;
  }

  &:hover {
    background: $primary-button-hover-background-color;
    border-color: $primary-button-hover-border-color;
    box-shadow: $primary-button-hover-box-shadow;
    transform: scale(1);

    i {
      color: $primary-button-hover-icon-color;
    }

    .button-container-text {
      color: $primary-button-hover-text-color;
    }
  }

  &.zmdi-floppy-parent,
  &.zmdi-check-parent {
    background: $save-button-background-color;
    border-color: $save-button-border-color;

    i {
      color: $save-button-icon-color;
    }

    .button-container-text {
      color: $save-button-text-color;
    }


    &:hover {
      background: $save-button-hover-background-color;
      border-color: $save-button-hover-border-color;

      i {
        color: $save-button-hover-icon-color;
      }

      .button-container-text {
        color: $save-button-hover-text-color;
      }
    }
  }

  &.zmdi-delete-parent,
  &.zmdi-pause-parent {
    background: $delete-button-background-color;
    border-color: $delete-button-border-color;

    i {
      color: $delete-button-icon-color;
    }

    .button-container-text {
      color: $delete-button-text-color;
    }

    &:hover {
      background: $delete-button-hover-background-color;
      border-color: $delete-button-hover-border-color;

      i {
        color: $delete-button-hover-icon-color;
      }

      .button-container-text {
        color: $delete-button-hover-text-color;
      }
    }
  }

  &.zmdi-close-circle-parent,
  &.zmdi-close-parent {
    background: $cancel-button-background-color;
    border-color: $cancel-button-border-color;

    i {
      color: $cancel-button-icon-color;
    }

    .button-container-text {
      color: $cancel-button-text-color;
    }

    &:hover {
      background: $cancel-button-hover-background-color;
      border-color: $cancel-button-hover-border-color;

      i {
        color: $cancel-button-hover-icon-color;
      }

      .button-container-text {
        color: $cancel-button-hover-text-color;
      }
    }
  }

  &.zmdi-spinner-parent {
    background: $save-button-background-color;
    border-color: $save-button-border-color;

    i {
      color: $save-button-icon-color;
    }

    .button-container-text {
      color: $save-button-text-color;
    }


    &:hover {
      background: $save-button-hover-background-color;
      border-color: $save-button-hover-border-color;

      i {
        color: $save-button-hover-icon-color;
      }

      .button-container-text {
        color: $save-button-hover-text-color;
      }
    }

    span {
      padding-left: .5rem;
    }

    .zmdi-spinner {
      animation: rotating 2s linear infinite;
      display: block;
      padding: 0;
    }
  }
}
