<div class="rac-form-heading-container form-group" [class.input-error]="ruleGeneratorType == RuleGeneratorType.ACTION && isInvalid(ruleGeneratorType)">
    <h2 *ngIf="ruleGeneratorType == RuleGeneratorType.MATCHING">If(matching) condition</h2>
    <h2 *ngIf="ruleGeneratorType == RuleGeneratorType.ACTION">Then(action) condition<span
            class="required-label">*</span>
    </h2>
    <span class="input-error-label"
          *ngIf="ruleGeneratorType == RuleGeneratorType.ACTION && isInvalid(ruleGeneratorType)">Then(action) condition is required</span>
</div>
<div class="rac-form-container">
    <app-tab-set [lazyLoad]="true">
        <app-tab [title]="RulesTabTitle.BRAND" [id]="'tab-1'">
            <ng-template #tabContent>
                <app-brand-content [parentElement]="parentElement"
                                   [formDataArray]="parentFormGroup.get(ruleGeneratorType)"
                                   [ruleGeneratorType]="ruleGeneratorType"></app-brand-content>
            </ng-template>
        </app-tab>
        <app-tab [title]="RulesTabTitle.PRODUCT_NUMBER" [id]="'tab-2'">
            <ng-template #tabContent>
                <app-product-number-content [parentElement]="parentElement"
                                            [formDataArray]="parentFormGroup.get(ruleGeneratorType)"
                                            [ruleGeneratorType]="ruleGeneratorType">
                </app-product-number-content>
            </ng-template>
        </app-tab>
        <app-tab [title]="RulesTabTitle.PRICE" [id]="'tab-3'">
            <ng-template #tabContent>
                <app-price-content [parentElement]="parentElement"
                                   [formDataArray]="parentFormGroup.get(ruleGeneratorType)"
                                   [ruleGeneratorType]="ruleGeneratorType">
                </app-price-content>
            </ng-template>
        </app-tab>
    </app-tab-set>
    <app-rule-generator [contextType]="ruleGeneratorType" [parentFormGroup]="parentFormGroup"></app-rule-generator>
</div>
