@import '../../../../styles/variables';
@import '../../../../styles/mixins';
@import '../../../../styles/icons';

.navbar {
  @include breakpoint(max991) {
    padding: .3rem 0 0;
  }

  background: $main-nav-bar-background;
  min-height: 3rem;
  padding: 0 1rem;
  z-index: 1049;

  .rac-app-version {
    color: $logo-text-color;;
    font-size: .7rem;
    position: absolute;
    right: 0;
    text-transform: capitalize;
    top: 1.2rem;
  }

  .navbar-brand {
    @include font-size(1, 1.6);
    color: $logo-text-color;
    font-weight: 500;
    padding-left: 55px;
    position: relative;
    text-transform: uppercase;

    &::before {
      background-image: svg-url-icon($logo-icon, '#000000', $logo-icon-color);
      background-size: cover;
      bottom: 0;
      content: '';
      height: $logo-height;
      left: 0;
      position: absolute;
      width: $logo-width;
    }
  }

  .nav-brand-lg {
    @include breakpoint(max991) {
      display: none;
    }
  }

  .navbar-toggler {
    padding: 0 0.75rem;

    .rac-menu-icon {
      background-image: svg-url-icon($menu-icon, '#000000', $menu-icon-color);
      background-size: contain;
      display: block;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .dropdown-toggle {
    &::after {
      border: 0;
    }
  }

  .main-navigation {
    @include breakpoint(min991) {
      height: auto;
      opacity: 1;
      overflow: visible;
    }
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1048;
  }

  .logout-button {
    align-items: center;
    background-color: $logout-button-background;
    background-image: svg-url-icon($logout-icon, '#000000', $primary-btn-icon-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 3px 6px $box-shadow-color-light;
    cursor: pointer;
    display: flex;
    height: 2.1rem;
    justify-content: center;
    margin: 0 .5rem;
    padding: .3rem .5rem;
    transition: .5s background-color ease, .5s box-shadow ease;
    width: 2.1rem;

    &:hover {
      background-color: darken($logout-button-background, 20%);
      box-shadow: 0 3px 6px $box-shadow-color-light;
    }
  }

  .navbar-nav {
    > .nav-item {
      @include breakpoint(max991) {
        border-top: .05rem solid $navigation-item-border-color;
        padding: .3rem 0;
      }
      padding: 0 .3rem;
      position: relative;

      > .nav-link {
        @include breakpoint(max991) {
          margin: 0 .5rem;
        }

        @include font-size(.8, 2);
        color: $navigation-item-text-color;
        cursor: pointer;
        font-weight: 300;
        letter-spacing: .03rem;
        padding: 0 .5rem;
        text-transform: uppercase;

        .main-nav-label {
          padding: 0;
        }

        .menu-icon {
          background-repeat: no-repeat;
          display: inline-block;
          height: 1.5rem;
          vertical-align: middle;
          width: 1.5rem;

            &.rac-rec-slot-icon {
              background-image: svg-url-icon($rec-slot-icon, '#000000', $navigation-item-icon-color);
            }

            &.recommendation-icon {
              background-image: svg-url-icon($recommend-icon, '#000000', $navigation-item-icon-color);
            }

            &.algorithm-icon {
              background-image: svg-url-icon($algorithm-icon, '#000000', $navigation-item-icon-color);
            }

            &.bundle-icon {
              background-image: svg-url-icon($bundle-icon, '#000000', $navigation-item-icon-color);
            }

            &.rule-icon {
              background-image: svg-url-icon($rule-icon, '#000000', $navigation-item-icon-color);
            }
        }

        .menu-title {
          padding: 0 .5rem;
        }
      }


        > .nav-link {

          &.active {

            @include breakpoint(max991) {
              margin: 0 .5rem;
            }
            color: $navigation-item-active-text-color;
            background: $navigation-item-active-background-color;
            border-radius: 0.5rem;
            display: block;



            .menu-icon {
              &.rac-rec-slot-icon {
                background-image: svg-url-icon($rec-slot-icon, '#000000', $navigation-item-active-icon-color);
              }

              &.recommendation-icon {
                background-image: svg-url-icon($recommend-icon, '#000000', $navigation-item-active-icon-color);
              }

              &.algorithm-icon {
                background-image: svg-url-icon($algorithm-icon, '#000000', $navigation-item-active-icon-color);
              }

              &.bundle-icon {
                background-image: svg-url-icon($bundle-icon, '#000000', $navigation-item-active-icon-color);
              }

              &.rule-icon {
                background-image: svg-url-icon($rule-icon, '#000000', $navigation-item-active-icon-color);
              }
            }
        }
        }


      &.dropdown {
        .expand-icon {
          @include font-size(1.4, 1.4);
          transform: rotate(0deg);
          transition: transform .3s ease-in-out;
          vertical-align: sub;
        }

        &.expanded {
          > .dropdown-toggle {
            .expand-icon {
              transform: rotate(90deg);
              transition: transform .3s ease-in-out;
            }
          }

          .dropdown-menu {
            @include breakpoint(max991) {
              padding: 0 .5rem;
            }

            border: 0;
            background: $main-nav-bar-background;
            margin: 0;
            padding: 0 .5rem .5rem;
            z-index: 1048;

            > .dropdown-item {
              margin: 0 0 .5rem;
              padding: 0;
              text-transform: uppercase;

              &:last-child {
                margin: 0;
              }

              &.nav-leaf {
                > .nav-link {
                  .expand-icon {
                    display: none;
                  }
                }
              }

              > .nav-link {
                @include font-size(.8, 2);
                color: $navigation-item-text-color;;
                cursor: pointer;
                font-weight: 300;
                letter-spacing: .03rem;
                padding: 0 .5rem 0 0;

                .main-nav-label {
                  padding: 0 .5rem 0 0;
                }

                .menu-icon {
                  @include font-size(1, 1.4);
                  padding-right: .5rem;
                }

                .menu-title {
                  padding: 0 .5rem;
                }
              }

              &.expanded {
                .dropdown-menu {
                  @include breakpoint(max991) {
                    box-shadow: none;
                    padding: 0;
                  }

                  box-shadow: .5rem .5rem 1rem $box-shadow-color;
                  left: 11.7rem;
                  padding: .5rem;
                  top: 0;
                }
              }

              &:hover,
              &.active {
                background: none;

                > .nav-link {
                  color: $navigation-item-active-text-color;
                  background: $navigation-item-active-background-color;
                  box-shadow: inset 0 1px 2px $box-shadow-color;
                }
              }
            }
          }
        }
      }

      &.expanded {
        .expanded {
          @include breakpoint(max991) {
            padding: .5rem 0 0 1rem;
          }

          .dropdown-menu {
            @include breakpoint(max991) {
              box-shadow: none;
            }
            padding-top: .5rem;

            .dropdown-item {
              @include breakpoint(max991) {
                border-top: .05rem solid $navigation-item-border-color;
                margin: 0;
                padding: .3rem 0 .2rem;
              }

              .expand-icon {
                @include breakpoint(max991) {
                  transform: rotate(0deg);
                  transition: transform .3s ease-in-out;
                }
              }

              .menu-icon {
                @include font-size(1, 1.4);
                padding: .41rem .6rem;
                vertical-align: middle;
              }

              &.expanded {
                .expand-icon {
                  @include breakpoint(max991) {
                    transform: rotate(90deg);
                    transition: transform .3s ease-in-out;
                  }
                }
              }

              &.active {
                > .nav-link {
                  > .main-nav-label {
                    .menu-icon {
                      box-shadow: inset 0 1px 5px $box-shadow-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.user-menu {
      align-items: center;
      display: flex;
      flex-direction: row;

      &.user-menu-container-lg {
        @include breakpoint(max991) {
          display: none;
        }
      }

      li {
        &.profile-name {
          @include font-size(.9, 1.2);
          border-right: .05rem solid  $navigation-item-text-color;
          color: $navigation-item-text-color;
          display: block;
          font-weight: 500;
          padding: .3rem 1rem;
          position: relative;
          text-transform: none;

          &:before {
            background-image: svg-url-icon($user-icon, '#000000', $primary-btn-icon-color);
            content: '';
            display: inline-block;
            height: 2rem;
            left: -1.5rem;
            position: absolute;
            top: -.1rem;
            width: 2rem;
          }
        }
      }
    }
  }
}

.user-menu-container-sm {
  @include breakpoint(min991) {
    display: none;
  }
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  padding-bottom: .5rem;
}

.pointer-link {
  cursor: pointer;
}
