<div class="rac-conditions">
    <div class="rac-condition-item col-lg-4">
        <form [formGroup]="baseFormGroup">
            <div class="form-group" [class.input-error]="isInvalid('brand')">
                <label
                >Brand
                    <span class="rac-max-length">Maximum character length is 200</span>
                    <input [typeahead]="brands"
                           [typeaheadOptionsLimit]="10"
                           [typeaheadMinLength]="0"
                           [typeaheadScrollable]="true"
                           [typeaheadOptionsInScrollableView]="10"
                           typeaheadOptionField="name"
                           formControlName="brand"
                           placeholder="Select Brand"
                           class="form-control"
                           maxlength="200">
                </label>
                <app-character-length-range-error
                    [control]="baseFormGroup.get('brand')"
                    [lengthError]="'Brand must not be greater than 200 characters long'"
                    [requiredError]="'Brand is required'"
                >
                </app-character-length-range-error>
            </div>
            </form>
        </div>

        <div class="rac-condition-button col-lg-2">
            <app-action-button-strap>
                <app-action [type]="ActionType.APPLY" [name]=""
                            [disable]="!baseFormGroup.get('brand').value?.length" (actionClick)="onApply()">
                </app-action>
            </app-action-button-strap>
        </div>
</div>
<div class="rac-condition-item">
    <form [formGroup]="brandFormGroup">
        <div class="form-group">
            <div class="form-check pl-2">
                <input [id]="'equalIgnoreCaseEnabled' + ruleGeneratorType"
                       class="form-check-input checkbox-input"
                       type="checkbox"
                       formControlName="operator"/>
                <label class="combined-enabled-label"
                       [for]="'equalIgnoreCaseEnabled' + ruleGeneratorType">Equal ignore case</label>
            </div>
        </div>
    </form>
</div>
<app-rules-tab-content-inline-detail-view [formGroupData]="brandFormGroup.value" (onRemoved)="onRemove($event)">
</app-rules-tab-content-inline-detail-view>

