<div class="row">
    <div class="col-lg-12">
        <div class="context-select-wrapper">
            <form [formGroup]="baseFormGroup">
                <div class="form-group" [class.input-error]="isInvalid('brand')">
                    <label
                    >Brand
                        <input class="form-control" type="text" formControlName="brand"
                               placeholder="Brand Name"/>
                    </label>
                    <app-character-length-range-error
                            [control]="baseFormGroup.get('brand')"
                            [lengthError]="'Brand must not be greater than 200 characters long'"
                            [requiredError]="'Brand is required'"
                    >
                    </app-character-length-range-error>
                </div>
                <div class="tab-content-action-button-container">
                    <app-action-button-strap>
                        <app-action [type]="ActionType.APPLY" [name]=""
                                    [disable]="!baseFormGroup.get('brand').value?.length" (actionClick)="onApply()">
                        </app-action>
                    </app-action-button-strap>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <app-rules-tab-content-inline-detail-view [formGroupData]="brandFormGroup.value" (onRemoved)="onRemove($event)">
        </app-rules-tab-content-inline-detail-view>
    </div>
</div>
