<div class="rac-page-content" #ruleFormParent>
    <app-action-bar [breadcrumb]="actionBreadcrumb"></app-action-bar>
    <div class="rac-page-content-pane">
        <div class="container-fluid relative-parent" #RuleUpsert>
            <form [formGroup]="ruleForm" novalidate>
                <div class="row rac-form-container">
                    <div *ngIf="isEdit" class="col-lg-4">
                        <div class="form-group">
                            <label for="ruleId"
                            >Rule ID<span *ngIf="!isEdit" class="required-label">*</span>
                                <input [attr.disabled]="isEdit || null"
                                       class="form-control"
                                       type="number"
                                       formControlName="ruleId"
                                       placeholder="Rule ID"
                                       id="ruleId"
                                />
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group" [class.input-error]="isInvalid('ruleName')">
                            <label for="ruleName"
                            >Rule Name<span class="required-label">*</span>
                                <app-info-label class="rac-app-info-label"
                                        [description]="SharedCommonConstants.textFieldMaxLengthMessage"
                                        [placement]="'right'"
                                        [outsideClick]="false"
                                >
                                </app-info-label>
                                <input class="form-control" type="text" formControlName="ruleName"
                                       placeholder="Rule Name" id="ruleName" maxlength="200"
                                       [requiredField]="true"/>
                            </label>
                            <app-common-control-error-view
                                    [control]="ruleForm.get('ruleName')"
                                    [whitespaceError]="'Rule name is required'"
                            >
                            </app-common-control-error-view>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-check pt-4">
                            <input
                                    class="form-check-input checkbox-input"
                                    type="checkbox"
                                    id="isGlobal"
                                    formControlName="isGlobal"/>
                            <label for="isGlobal">Is Global</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group" [class.input-error]="isInvalid('ruleType')">
                            <label
                            >Rule Type<span class="required-label">*</span>
                                <ng-dropdown
                                        *ngIf="ruleTypeDropdownData"
                                        [id]="'rule-type-dropdown-data'"
                                        [selectTrackBy]="'id'"
                                        [displayTrackBy]="'name'"
                                        [formControlName]="'ruleType'"
                                        [relativeParentElement]="ruleFormParent"
                                        [options]="ruleTypeDropdownData"
                                        [selectMode]="dropdownSelectMode"
                                        [filterable]="true"
                                        [closeMenuOnSelect]="true"
                                >
                                </ng-dropdown>
                            </label>
                            <app-required-error [control]="ruleForm.get('ruleType')"
                                                [requiredError]="'Rule type is required'"
                                                [errorType]="'required'">
                            </app-required-error>
                        </div>
                    </div>
                </div>
                <div class="row rac-form-container">
                    <div class="col-lg-12">
                        <app-rule-matching-context
                                [parentFormGroup]="ruleForm"
                                [contextData]="rule?.matchingConditionJson"
                                [parentElement]="RuleUpsert">
                        </app-rule-matching-context>
                        <app-rule-action-context
                                [parentFormGroup]="ruleForm"
                                [contextData]="rule?.actionConditionJson"
                                [parentElement]="RuleUpsert">
                        </app-rule-action-context>
                    </div>
                </div>
            </form>
        </div>
        <div class="rac-footer-button-container">
            <app-action-button-strap>
                <app-action [type]="ActionType.SAVE" [name]="formAction === FormAction.ADD ? 'Create': 'Save'"
                            [autoResolve]="false"
                            (actionClick)="onRecSaveClick($event)"></app-action>
                <app-action [type]="ActionType.CANCEL" [name]="'Cancel'"
                            (actionClick)="redirectToRulesView()"></app-action>
            </app-action-button-strap>
        </div>
    </div>
</div>
