@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.rac-conditions-view {
  @include font-size(.8, 1.1);
  background: $conditions-view-background;
  border: .05rem solid $conditions-view-border;
  border-radius: 0 0 .2rem .2rem;
  box-shadow: 0 .2rem 1rem $box-shadow-color-light;
  font-weight: 500;
  margin-bottom: 2rem;
  padding: 1rem;
}
