<form [formGroup]="parentFormGroup" novalidate>
    <div formArrayName="{{ contextType }}">
        <div class="rac-conditions-view tab-pane">
            <ng-container *ngFor="let rule of parentFormGroup.get(contextType)?.controls; let i = index"
                          [formGroupName]="i">
                <ng-container *ngIf="!isPriceType(rule.value.type)">
                    <app-additional-detail-view *ngIf="rule.value.value.length" [data]="rule.value">
                        <ng-template #actionTemplate>
                            <app-rule-condition-generator
                                    *ngIf="parentFormGroup.get(contextType).controls[i + 1]"
                                    [formGroup]="rule"
                                    [identifier]="formatRuleConditionId(i)"
                            ></app-rule-condition-generator>
                        </ng-template>
                    </app-additional-detail-view>
                </ng-container>

                <ng-container *ngIf="isPriceType(rule.value.type)">
                    <app-price-detail-view [priceItem]="rule.value">
                        <ng-template #actionTemplate>
                            <app-rule-condition-generator
                                    *ngIf="parentFormGroup.get(contextType).controls[i + 1]"
                                    [formGroup]="rule"
                                    [identifier]="formatRuleConditionId(i)"
                            ></app-rule-condition-generator>
                        </ng-template>
                    </app-price-detail-view>
                </ng-container>

                <ng-container *ngIf="isCustomType(rule.value.type)">
                    <app-custom-detail-view [customItem]="rule.value">
                        <ng-template #actionTemplate>
                            <app-rule-condition-generator
                                    *ngIf="parentFormGroup.get(contextType).controls[i + 1]"
                                    [formGroup]="rule"
                                    [identifier]="formatRuleConditionId(i)"
                            ></app-rule-condition-generator>
                        </ng-template>
                    </app-custom-detail-view>
                </ng-container>

            </ng-container>
            <app-rule-no-data-available-view
                    *ngIf="!parentFormGroup.get(contextType)?.controls.length"
                    [contextType]="contextType"
                    [ruleType]="parentFormGroup.get('ruleType')">
            </app-rule-no-data-available-view>
        </div>
    </div>
</form>
