<div class="rac-form-heading-container form-group" [class.input-error]="isInvalid(ruleActionGeneratorType)">
    <h2>Then(action) condition<span class="required-label">*</span></h2>
    <span class="input-error-label" *ngIf="isInvalid(ruleActionGeneratorType)">Then condition is required</span>
</div>
<div class="rac-form-container">
    <app-tab-set [lazyLoad]="true">
        <app-tab [title]="RulesTabTitle.BRAND" [id]="'tab-1'">
            <ng-template #tabContent>
                <app-brand-content [parentElement]="parentElement"
                                   [formDataArray]="parentFormGroup.get(ruleActionGeneratorType)"
                                   [ruleGeneratorType]="ruleActionGeneratorType"></app-brand-content>
            </ng-template>
        </app-tab>
        <app-tab [title]="RulesTabTitle.PRODUCT_NUMBER" [id]="'tab-2'">
            <ng-template #tabContent>
                <app-product-number-content [parentElement]="parentElement"
                                            [formDataArray]="parentFormGroup.get(ruleActionGeneratorType)"
                                            [ruleGeneratorType]="ruleActionGeneratorType">
                </app-product-number-content>
            </ng-template>
        </app-tab>
        <app-tab [title]="RulesTabTitle.PRICE" [id]="'tab-3'">
            <ng-template #tabContent>
                <app-price-content [parentElement]="parentElement"
                                   [formDataArray]="parentFormGroup.get(ruleActionGeneratorType)"
                                   [ruleGeneratorType]="ruleActionGeneratorType">
                </app-price-content>
            </ng-template>
        </app-tab>
        <app-tab *ngIf="ruleMetadataTypes?.length" [title]="RulesTabTitle.CUSTOM" [id]="'tab-4'">
            <ng-template #tabContent>
                <app-custom-content [parentElement]="parentElement"
                                    [formDataArray]="parentFormGroup.get(ruleActionGeneratorType)"
                                    [ruleGeneratorType]="ruleActionGeneratorType"
                                    [keys]="ruleMetadataTypes">
                </app-custom-content>
            </ng-template>
        </app-tab>
    </app-tab-set>
    <app-rule-generator [contextType]="ruleActionGeneratorType" [parentFormGroup]="parentFormGroup"></app-rule-generator>
</div>
