<form [formGroup]="baseFormGroup" novalidate>
    <div class="rac-conditions">
        <div class="rac-condition-item col-lg-4">
            <div class="form-group"  [class.input-error]="isInvalid('productNumber')">
                <label
                >Product Number
                    <span class="rac-max-length">Maximum character length is 200</span>
                    <input class="form-control" type="text" placeholder="Enter Product Number" name="ProductNumber"
                           formControlName="productNumber"
                           maxlength="200"
                           [requiredField]="true"/>
                </label>
                <app-common-control-error-view
                        [control]="baseFormGroup.get('productNumber')"
                        [whitespaceError]="'Product number is required'"
                >
                </app-common-control-error-view>
            </div>
        </div>
        <div class="rac-condition-button col-lg-2">
            <app-action-button-strap>
                <app-action [type]="ActionType.APPLY" [disable]="isDisabled()"
                            (actionClick)="onApply()"></app-action>
            </app-action-button-strap>
        </div>
    </div>
    <app-rules-tab-content-inline-detail-view [formGroupData]="productNumberGroup.value" (onRemoved)="onRemove($event)">
    </app-rules-tab-content-inline-detail-view>
</form>
