.product-number-selector {
  flex: 1 1 auto;
  position: relative;
  width: 1%;

  .form-control {
    border-radius: .2rem 0 0 .2rem;
    height: 34px;
  }

  .ng-dropdown {
    .ng-dropdown-toggle {
      border-radius: .2rem 0 0 .2rem;
    }
  }
}
