<div class="rac-page-content" #recFormParent>
    <app-action-bar [breadcrumb]="actionBreadcrumb"></app-action-bar>
    <div class="rac-page-content-pane rac-recommendations">
        <div class="container-fluid relative-parent">
            <form [formGroup]="recForm" novalidate>
                <div class="rac-form-container row">
                    <div class="col-lg-4">
                        <div *ngIf="isEdit" class="form-group">
                            <label for="recId"
                            >Recommendation ID<span *ngIf="!isEdit" class="required-label">*</span>
                                <input [attr.disabled]="isEdit || null"
                                       class="form-control"
                                       type="number"
                                       formControlName="recId"
                                       placeholder="Rec ID"
                                       id="recId"
                                />
                            </label>
                        </div>
                        <div class="form-group" [class.input-error]="isInvalid('recName')">
                            <label for="recName"
                            >Recommendation Name<span class="required-label">*</span>
                                <span class="rac-max-length">Maximum character length is 200</span>
                                <input class="form-control" type="text" formControlName="recName"
                                       placeholder="Recommendation Name" id="recName" maxlength="200"
                                       [requiredField]="true"/>
                            </label>
                            <app-common-control-error-view
                                    [control]="recForm.get('recName')"
                                    [whitespaceError]="'Recommendation name is required'"
                            >
                            </app-common-control-error-view>
                        </div>
                    </div>
                </div>
                <div class="rac-form-container row">
                    <div class="col-lg-12">
                        <div class="rac-form-heading-container">
                            <h2>Bundle</h2>
                        </div>
                    </div>
                </div>
                <div class="rac-form-container row">
                    <div class="col-lg-4">
                        <div class="form-group" [class.input-error]="isInvalid('selectedBundle')">
                            <label
                            >Select existing bundle<span class="required-label">*</span>
                                <ng-dropdown
                                        [id]="'bundle-dropdown-data'"
                                        [selectTrackBy]="'id'"
                                        [displayTrackBy]="'displayName'"
                                        [menuWidth]="390"
                                        [formControlName]="'selectedBundle'"
                                        [relativeParentElement]="recFormParent"
                                        [options]="bundleDropdownData"
                                        [selectMode]="dropdownSelectMode"
                                        [filterable]="true"
                                        [closeMenuOnSelect]="true"
                                >
                                </ng-dropdown>
                            </label>
                            <app-required-error [control]="recForm.get('selectedBundle')"
                                                [requiredError]="'Bundle is required'"
                                                [errorType]="'required'">
                            </app-required-error>
                        </div>
                    </div>
                    <div class="col-lg-2 d-flex align-items-center justify-content-center">
                        <div class="rac-form-heading-container">
                            <h2>OR</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex align-items-center">
                        <app-action [buttonType]="ActionButtonType.BUTTON"
                                    [type]="ActionType.ADD"
                                    [name]="'Create New Bundle'"
                                    [autoResolve]="true"
                                    (actionClick)="switchSidePaneVisibility()"
                        >
                        </app-action>
                    </div>
                </div>
            </form>
        </div>
        <app-side-pane>
            <div class="right-pane" [class.active]="isBundleAdd">
                <ng-container>
                    <app-bundle-form [bundle]="null"
                                     [isPopupView]="true"
                                     [formAction]="FormAction.ADD"
                                     (saveBundle)="onBundleSaveClick($event)"
                                     (cancelBundle)="switchSidePaneVisibility()">
                    </app-bundle-form>
                </ng-container>
            </div>
        </app-side-pane>
        <div class="rac-footer-button-container">
            <app-action-button-strap>
                <app-action [type]="ActionType.SAVE" [name]="formAction === FormAction.ADD ? 'Create': 'Save'"
                            [autoResolve]="false"
                            (actionClick)="onRecSaveClick($event)"></app-action>
                <app-action [type]="ActionType.CANCEL" [name]="'Cancel'"
                            (actionClick)="redirectToRecsView()"></app-action>
            </app-action-button-strap>
        </div>
    </div>
</div>
