<div class="rac-page-content" *ngIf="algorithmForm">
    <app-action-bar [breadcrumb]="actionBreadcrumb"></app-action-bar>
    <div class="rac-page-content-pane">
        <div class="container-fluid relative-parent" #algorithmFormparent>
            <div class="row">
                <div class="col-lg-12">
                    <form [formGroup]="algorithmForm" novalidate>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="rac-form-container">
                                    <div class="form-group" [class.input-error]="isInvalid('algorithmId')">
                                        <label for="algorithmId"
                                        >Algorithm ID<span *ngIf="!isEdit" class="required-label">*</span>
                                            <input [attr.disabled]="isEdit || null"
                                                   class="form-control"
                                                   type="number"
                                                   formControlName="algorithmId"
                                                   placeholder="Algorithm ID"
                                                   id="algorithmId"
                                                   min="1"
                                                   max="9999"
                                            />
                                        </label>
                                        <app-range-error
                                                [control]="algorithmForm.get('algorithmId')"
                                                [minError]="'Algorithm ID should be greater than or equal to 1'"
                                                [maxError]="'Algorithm ID should be less than or equal to 9999'"
                                                [requiredError]="'Algorithm ID is missing or invalid'"
                                        >
                                        </app-range-error>
                                    </div>
                                    <div class="form-group" [class.input-error]="isInvalid('algorithmName')">
                                        <label for="algorithmName"
                                        >Name<span class="required-label">*</span>
                                            <app-info-label
                                                    [description]="SharedCommonConstants.text_field_max_length_message"
                                                    [placement]="'right'"
                                                    [outsideClick]="false"
                                            >
                                            </app-info-label>
                                            <input class="form-control" type="text" formControlName="algorithmName"
                                                   placeholder="Algorithm Name" id="algorithmName" maxlength="200"
                                                   [requiredField]="true"/>
                                        </label>
                                        <app-common-control-error-view
                                                [control]="algorithmForm.get('algorithmName')"
                                                [whitespaceError]="'Algorithm name is required'"
                                        >
                                        </app-common-control-error-view>
                                    </div>
                                    <div class="form-group" [class.input-error]="isInvalid('description')">
                                        <label for="description"
                                        >Description<span class="required-label">*</span>
                                            <app-info-label
                                                    [description]="SharedCommonConstants.textarea_max_length_message"
                                                    [placement]="'right'"
                                                    [outsideClick]="false"
                                            >
                                            </app-info-label>
                                            <textarea
                                                    class="form-control"
                                                    formControlName="description"
                                                    id="description"
                                                    maxlength="2000"
                                                    [rows]="4"
                                                    [placeholder]="'Specify description here...'"
                                                    [requiredField]="true"
                                            ></textarea>
                                        </label>
                                        <app-common-control-error-view
                                                [control]="algorithmForm.get('description')"
                                                [whitespaceError]="'Algorithm description is required'"
                                        >
                                        </app-common-control-error-view>
                                    </div>
                                    <div class="form-group" [class.input-error]="isInvalid('displayText')">
                                        <label for="displayText"
                                        >Default Display Text<span class="required-label">*</span>
                                            <app-info-label
                                                    [description]="SharedCommonConstants.text_field_max_length_message"
                                                    [placement]="'right'"
                                                    [outsideClick]="false"
                                            >
                                            </app-info-label>
                                            <input class="form-control" type="text" formControlName="displayText"
                                                   placeholder="Display Text" id="displayText" maxlength="200"
                                                   [requiredField]="true"/>
                                        </label>
                                        <app-common-control-error-view
                                                [control]="algorithmForm.get('displayText')"
                                                [whitespaceError]="'Algorithm default display text is required'"
                                        >
                                        </app-common-control-error-view>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="rac-footer-button-container">
            <app-action-button-strap>
                <app-action [type]="ActionType.SAVE" [name]="isEdit ? 'Save' : 'Create'"
                            [autoResolve]="false"
                            (actionClick)="onSaveClick($event)"></app-action>
                <app-action [type]="ActionType.CANCEL" [name]="'Cancel'"
                            (actionClick)="redirectToAlgorithmView()"></app-action>
            </app-action-button-strap>
        </div>
    </div>
</div>
