<ng-container [ngSwitch]="operator">
    <span class="rac-selected-condition-label" *ngSwitchCase="'eq'"> is equal to</span>
    <span class="rac-selected-condition-label" *ngSwitchCase="'lt'"> is less than</span>
    <span class="rac-selected-condition-label" *ngSwitchCase="'gt'"> is greater than</span>
    <span class="rac-selected-condition-label" *ngSwitchCase="'gteq'"> is greater than or equal to</span>
    <span class="rac-selected-condition-label" *ngSwitchCase="'lteq'"> is less than or equal to</span>
</ng-container>
