<ng-container [ngSwitch]="operator">
    <span class="rac-selected-condition-label" *ngSwitchCase="'eq'"> {{!hasMultipleValues ? 'is' : 'are'}} equal to</span>
    <span class="rac-selected-condition-label" *ngSwitchCase="'lt'"> {{!hasMultipleValues ? 'is' : 'are'}}  less than</span>
    <span class="rac-selected-condition-label" *ngSwitchCase="'gt'"> {{!hasMultipleValues ? 'is' : 'are'}}  greater than</span>
    <span class="rac-selected-condition-label" *ngSwitchCase="'gteq'"> {{!hasMultipleValues ? 'is' : 'are'}}  greater than or equal to</span>
    <span class="rac-selected-condition-label" *ngSwitchCase="'lteq'"> {{!hasMultipleValues ? 'is' : 'are'}}  less than or equal to</span>
    <span class="rac-selected-condition-label" *ngSwitchCase="'eqic'"> {{!hasMultipleValues ? 'is' : 'are'}}  equal to</span>
</ng-container>
