@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.action-bar {
  align-items: center;
  background: $action-bar-background;
  border-bottom: .05rem solid $light-border;
  box-shadow: .5rem 0 1rem $box-shadow-color;
  padding: .3rem 1.2rem;
  width: 100%;
  z-index: 1001;

  .back-link {
    color: $action-bar-title;

    &:hover {
      color: $action-bar-title-hover;
      cursor: pointer;

      i {
        color: $action-bar-title;
      }
    }

    .back-link-icon {
      @include font-size(1.4, 2);
      padding-right: .5rem;
    }

    .back-link-text {
      @include font-size(.9, 2.1);
      font-weight: 400;
      text-transform: capitalize;
    }

    i {
      @include font-size(.9, 2.1);
      padding: 0 .5rem;
    }
  }
}
